@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hello {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    height: 13vh;
    display: flex;
}

.navImage {
    padding: 0px 25px;
    width: 60%;
    display: flex;
    align-items: center;
}

.navbar ul {
    width: 40%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar ul a {
    text-decoration: none;
    color: #484848;
}

.hero {
    width: 100%;
    height: 87vh;
    background-image: url("https://res.cloudinary.com/hellochef/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,q_auto,w_auto/v1/website/V2/homepage/banner");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 7%;
}

.headingOne {
    font-size: 2em;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: -0.03em;
    width: 30%;
    text-align: center;
    margin: 0.67em 0;
    color: #484848;
}

.pOne {
    width: 30%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}

.button {
    background-color: #e42a12;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    margin: 10px 0px;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

button:hover {
    opacity: 0.7;
}

.choose_us {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
}

.choose_usTitle {
    margin: 20px 0px;
    font-size: 32px;
    text-align: center;
}

.choose_usText {
    margin: 10px;
    font-size: 18px;
    text-align: center;
    color: grey;
}

.reasonList{
    padding: 10px;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason{
    width: 20%;
    height: 50vh;
    margin: 10px 15px;
}

.reasonImage {
    /* height: 200px; */
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.reasonTitle {
    font-size: 24px;
    margin: 15px 0px;
    color: #484848;
}

.reasonOption {
    margin: 10px 0px;
    font-size: .9375em;
    font-weight: 400;
    color: #1a1a1a;
}

.works {
    width: 100%;
    height: 100vh;
    display: flex;
}

.worksImage{
    height: 100vh;
    width: 50%;
    background-image: url("https://res.cloudinary.com/hellochef/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,q_auto,w_1200/v1/website/V2/homepage/Family_cooking");
    background-size: cover;
}

.worksContent {
    height: 100vh;
    padding-left: 5%;
    padding-top: 10%;
    width: 50%;
    background-color: rgba(255,148,110,.2);
}

.worksContent h1{
    color: red;
    font-size: 35px;
    margin: 5px 0px;
}

.worksContent .simplify {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.worksContent p{
    font-size: 18px;
    margin: 20px 0px;
    font-weight: bolder;
}

.numStyle {
    color: red;
    font-size: 25px;
    margin: 0px;
    margin-right: 10px;
}

.menu {
    padding: 3% 0px 5%;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuTitle {
    font-size: 32px;
    margin: 10px 0px;
    color: #484848;
}

.menu p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0px;
    line-height: 25px;
    color: #757575;
}

.menuSlideshow {
    display: flex;
    align-items: center;
    margin: 10px 0px 20px;
}

.mealImage {
    width: 280px;
    height: 200px;
    margin: 10px 15px;
    border-radius: 10px;
    position: relative;
}

.meal1 {
    background-image: url("https://res.cloudinary.com/hellochef/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,q_auto,w_800/v1/website/V2/recipes/vegan");
    background-size: cover;
}

.meal2 {
    background-image: url("https://res.cloudinary.com/hellochef/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,q_auto,w_800/v1/website/V2/recipes/weekly_classic");
    background-size: cover;
}

.meal3 {
    background-image: url("https://res.cloudinary.com/hellochef/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,q_auto,w_800/v1/website/V2/recipes/Vegetarian");
    background-size: cover;
}

.mealImage .mealName {
    margin: 10px;
    position: absolute;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 20px;
    right: 0;
    bottom: 0;
}

.mealImage .meal1name {
    background-color: #d8f4a4;
    color: #78a42b;
}

.mealImage .meal2name {
    background-color: #d9e3fe;
    color: #647ad0;
}

.mealImage .meal3name {
    background-color: #c8f5da;
    color: #4ab074;
}

.review {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f4f6;
    padding: 3%;
}

.reviewHeader {
    display: flex;
    align-items: flex-end;
    margin: 30px 0px;
}

.reviewHeader img {
    margin: 0 10px 0 0;
}

.reviewTitle {
    font-size: 2em;
    color: #484848;
}

.reviewImages {
    margin: 20px 0;
}

.reviewImages img{
    margin: 0 10px;
}

.reviewText {
    text-align: center;
    font-size: 28px;
    color: #484848;
}

.numMeals {
    color: #e42a12;
}

.googleReviews {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.googleReviews p {
    margin: 0 10px;
    font-size: 16px;
    color: #484848;
}

.stars {
    margin: 0 10px 0 5px;
}

.star {
    color: #f6ad01;
    font-size: 20px;
}

.subscribe {
    width: 100%;
    height: 95vh;
    background-image: url("https://res.cloudinary.com/hellochef/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,q_auto,w_auto/v1/website/V2/homepage/subscribe");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribeForm {
    background-color: white;
    padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subTitle {
    margin: 10px 0;
    color: #484848;
    font-size: 32px;
}

.subFormText {
    margin: 5px 0;
    color: #757575;
    font-size: 18px;
}

.inputForm{
    width: 50%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputForm label {
    margin: 7px 0;
    font-size: 12px;
    color: rgba(117, 117, 117, 0.9);
    line-height: 130%;
}

.input {
    display: flex;
    align-items: center;
}

#sub_input {
    font-size: 18px;
    padding: 10px 15px;
    height: 50px;
    width: 80%;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgba(117, 117, 117, 0.4);
    border-right: 0;
}

.subBtn {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 20%;
    border-radius: 0 5px 5px 0;
}

.subText {
    font-size: 13px;
    text-align: center;
    color: #75757580;
}

.footer {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerRow {
    width: 968px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footerRow li{
    list-style-type: none;
    margin: 5px 0px;
}

.listHeader {
    font-weight: bolder;
}

.footerRowOneCol {
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.colLeft {
    text-align: left;
}

.colRight {
    text-align: right;
}

.blog img{
    border-radius: 10px;
}

.sub2text {
    width: 968px;
}

.footerRowTwo {
    width: 968px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.footerRowTwoCol {
    width: 33%;
    border: 1px solid black;
}



